
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');



.hero {
background: url("/src/img/hero1.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
background-size: cover;

}
h1.hero {
    font-size: 21vw;
    color: white;
    padding-top: 17%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    overflow: hidden;
    text-indent: -41px;

}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(208, 208, 208);
    }

h2 {
    font-size: 32px;
    color: black;
}


.Portfolio_grid{
    display: flex;
    flex-flow: row wrap;
    }

.Portfolio_grid_item{
margin-right: 20px;
margin-bottom:20px;
min-height: 400px;
width: 300px;
border:1px solid rgb(213, 211, 211);
}


 span.hero{
    white-space: nowrap;
 }

.landing_left {
    width:20%;
}

.landing_right {
    width:80%;
}

.card{
    width: 300px;
}